@font-face {
  font-family: myFont;
  src: url(fonts/Poppins-Regular.ttf);
}
* {
  font-family: myFont;
}
.container-main {
  margin: 0px !important;
}
.logo img {
  width: 200px;
  margin-top: 10px;
  object-fit: cover !important;
}
.navbarr {
  padding: 0px !important;
}
.deliver {
  margin-top: 14px;
}
.deliver p {
  font-family: myFont;
  font-weight: bold;
  font-size: 14px;
  color: #545454;
}
.deliver i {
  color: #ffb30e;
  margin-left: 10px;
  font-size: 14px;
}
.deliver span {
  margin-left: 10px;
  font-size: 14px;
}
.hd-n {
  margin-left: 5px;
}
.search {
  margin-left: 25px;
}
.search i {
  color: #fbce2a;
  font-size: 14px;
}
.search i {
  margin-top: 14px;
}
.search p {
  margin-top: 10px;
  font-size: 14px;
  margin-left: 5px;
}
/* == */
.search1 i {
  color: #fbce2a;
  font-size: 14px;
}
.search1 i {
  margin-top: 14px;
}
.search1 p {
  margin-top: 10px;
  font-size: 14px;
  margin-left: 5px;
}
.content-slider {
  padding: 0px !important;

  background: rgb(182, 125, 2);
  background: linear-gradient(
    90deg,
    rgba(182, 125, 2, 1) 0%,
    rgba(252, 175, 7, 1) 50%,
    rgba(182, 125, 2, 1) 100%
  );
}
.sld-hdn{
  margin-left: 30px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  padding: 20px 0px;
}
.left h1 {
  color: #fff;
  font-weight: bold;
}
.left p {
  font-size: 12px;
}

.right-t {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.slid-img {
  width: 100%;
}
.slid-img img {
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(#ff5e00 4x 5px 6px);
}
.info {
  width: 90%;
  background-color: #fff;

  border-radius: 10px;
}
.deliver-btn {
  margin-top: 20px;
  width: 140px;
  color: #f17228;
  font-size: 14px;
  margin-left: 20px;
  background-color: #fef1e9;
  padding: 0px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.deliver-btn p {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 15px;
}
.deliver-btn i {
  margin-top: 20px;
}

/* === */
.deliver-btn2 {
  cursor: pointer;
  margin-top: 20px;
  width: 100px;
  color: #f17228;
  font-size: 14px;
  margin-left: 20px;
  padding: 0px 10px;
  border-radius: 10px;
}
.deliver-btn2 p {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 15px;
}
.deliver-btn2 i {
  margin-top: 20px;
}

.inpuu {
  margin-top: 20px;
}

/* .input-group-text {
} */
#basic-addon2 {
  background-color: #f17228 !important;
  color: #fff !important;
  cursor: pointer;
}

.end {
  /* width: 100%; */
  margin-top: 15px;
}
.end img {
  width: 100%;
  /* margin-left: 10px; */
}
.input-group{
  width: 90% !important;
}
.cards{
  margin-top: 10px;
}